
* {
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F1F5F9; /* Light grayish-blue background */
}

.navbar {
  width: 100%;
  background-color: #2A4365; /* Dark blue */
  color: rgb(255, 255, 255);
  height: 10vh;
  border-bottom: 1px solid #cbd5e0; /* Light blue */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form__input {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: 2px solid #408adf; /* Medium blue */
  border-radius: 4px;
  background-color: #EBF8FF; /* Very light blue */
  color: #2B6CB0; /* Dark blue */
  transition: 0.3s;
  box-sizing: border-box;
  outline: none;
  margin: 0 5px;
  width: 50%;
  padding: 10px 15px;
}

.input:focus {
  border-color: #3182CE; /* Slightly brighter blue */
  outline: none;
}

.addCardBtn {
  font-weight: 900;
  font-family: cursive;
  width: 120px;
  padding: 10px;
  cursor: pointer;
  background-color: #4299E1; /* Light blue */
  color: #fff;
  border: none;
  outline: none;
  height: 43px;
}

.box {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.head {
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-weight: 900;
}

.ideas__head, .todo__head, .doing__head, .done__head {
  background-color: #63B3ED; /* Light blue */
}

.ideas__wrapper, .todo__wrapper, .doing__wrapper, .done__wrapper {
  width: 32%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.ideas__container {
  background-color: #E3F8FF; /* Very light blue */
}

.todo__container {
  background-color: #BEE3F8; /* Light blue */
}

.doing__container {
  background-color: #63B3ED; /* Medium blue */
}

.done__container {
  background-color: #2B6CB0; /* Dark blue */
}


.cardcontainer {
  width: 100%;
  min-height: 10vh;
  max-height: 40vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #F8FAFC; /* Light grayish-blue */
}

.ideas__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #a0e9df; /* Light warm yellow */
  padding: 15px;
}

.todo__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #a0e9df; /* Light pale yellow */
  padding: 15px;
}

.doing__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #a0e9df; /* Light teal */
  padding: 15px;
}

.done__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #a0e9df; /* Light cool gray */
  padding: 15px;
}


.comment {
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  color: #3182CE; /* Medium blue */
}

.comment:hover {
  text-decoration: underline;
}

.comments__container {
  padding: 20px;
}

.comment__form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.comment__form > label {
  margin-bottom: 15px;
}

.comment__form textarea {
  width: 80%;
  padding: 15px;
  margin-bottom: 15px;
}

.commentBtn {
  padding: 10px;
  width: 200px;
  background-color: #2B6CB0; /* Dark blue */
  outline: none;
  border: none;
  color: #fff;
  height: 45px;
  cursor: pointer;
}

.comments__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__form > label {
  margin-bottom: 15px;
}

.login__form > input {
  width: 70%;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.btn {
  padding: 15px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  outline: none;
  width: 200px;
  background-color: #4A90E2; /* Medium blue */
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 4px;
}


.btn:hover {
  background-color: white;

  color: #4caf50;

  border: 2px solid #4caf50;
}
