* {
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f9; /* Light grayish-blue background */
}

.navbar {
  width: 100%;
  background-color: #2a4365; /* Dark blue */
  color: rgb(255, 255, 255);
  height: 10vh;
  border-bottom: 1px solid #cbd5e0; /* Light blue */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form__input {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: 2px solid #408adf; /* Medium blue */
  border-radius: 4px;
  background-color: #ebf8ff; /* Very light blue */
  color: #2b6cb0; /* Dark blue */
  transition: 0.3s;
  box-sizing: border-box;
  outline: none;
  margin: 0 5px;
  width: 50%;
  padding: 10px 15px;
}

.input:focus {
  border-color: #3182ce; /* Slightly brighter blue */
  outline: none;
}

.addCardBtn {
  font-weight: 900;
  font-family: cursive;
  width: 120px;
  padding: 10px;
  cursor: pointer;
  background-color: #4299e1; /* Light blue */
  color: #fff;
  border: none;
  outline: none;
  height: 43px;
}

.box {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.head {
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-weight: 900;
}

.ideas__head,
.todo__head,
.doing__head,
.done__head {
  background-color: #63b3ed; /* Light blue */
}

.ideas__wrapper,
.todo__wrapper,
.doing__wrapper,
.done__wrapper {
  width: 32%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.ideas__container {
  background-color: #e3f8ff; /* Very light blue */
  height: 100%; /* Ensure each container fills the available height */
  display: flex; /* Flexbox to control child elements within */
  flex-direction: column; /* Adjust the internal layout if necessary */
}

.todo__container {
  background-color: #bee3f8; /* Light blue */
  height: 100%; /* Ensure each container fills the available height */
  display: flex; /* Flexbox to control child elements within */
  flex-direction: column; /* Adjust the internal layout if necessary */
}

.doing__container {
  background-color: #63b3ed; /* Medium blue */
  height: 100%; /* Ensure each container fills the available height */
  display: flex; /* Flexbox to control child elements within */
  flex-direction: column; /* Adjust the internal layout if necessary */
}

.done__container {
  background-color: #2b6cb0; /* Dark blue */
  height: 100%; /* Ensure each container fills the available height */
  display: flex; /* Flexbox to control child elements within */
  flex-direction: column; /* Adjust the internal layout if necessary */
}

.cardcontainer {
  width: 100%;
  min-height: 10vh;
  max-height: 40vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #f8fafc; /* Light grayish-blue */
}

.ideas__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: hsl(45, 100%, 93%); /* Light warm yellow */
  padding: 15px;
}

.todo__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: hsl(45, 100%, 93%); /* Light pale yellow */
  padding: 15px;
}

.doing__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: hsl(45, 100%, 93%); /* Light teal */
  padding: 15px;
}

.done__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: hsl(45, 100%, 93%); /* Light cool gray */
  padding: 15px;
}

.comment {
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  color: #3182ce; /* Medium blue */
}

.comment:hover {
  text-decoration: underline;
}

.comments__container {
  padding: 20px;
}

.comment__form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.comment__form > label {
  margin-bottom: 15px;
}

.comment__form textarea {
  width: 80%;
  padding: 15px;
  margin-bottom: 15px;
}

.commentBtn {
  padding: 10px;
  width: 200px;
  background-color: #2b6cb0; /* Dark blue */
  outline: none;
  border: none;
  color: #fff;
  height: 45px;
  cursor: pointer;
}

.comments__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__form > label {
  margin-bottom: 15px;
}

.login__form > input {
  width: 70%;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.btn {
  padding: 15px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  outline: none;
  width: 200px;
  background-color: #4a90e2; /* Medium blue */
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 4px;
}

.btn:hover {
  background-color: white;

  color: #4caf50;

  border: 2px solid #4caf50;
}
